:root {
  --content-width: 1620px;
  --container-offset: 40px;
  --container-width: calc(var(--content-width) + (var(--container-offset) * 2));

  // colors
  --color-white: #FFFFFF;
  --color-black: #000000;
  --color-gray: #C4C4C4;

  --primary-10: #70908B;
  --primary-20: #07484A;

  --secondary-10: #CAF3E5;
  --primary-10-light: color-mix(in srgb, white 20%, var(--primary-10));
  --primary-10-dark: color-mix(in srgb, black 20%, var(--primary-10));

  --secondary-20: #E0EFF6;
  --secondary-20-light: color-mix(in srgb, white 20%, var(--secondary-20));
  --secondary-20-dark: color-mix(in srgb, black 20%, var(--secondary-20));

  --secondary-30: #EEEBFF;
  --secondary-40: #FFF4E7;
  --secondary-50: #FDFBF8;

  --secondary-60: #F9D9DA;
  --secondary-60-light: color-mix(in srgb, white 20%, var(--secondary-60));
  --secondary-60-dark: color-mix(in srgb, black 20%, var(--secondary-60));

  --secondary-70: #E0F6F1;

  // font families
  --font-family: "Open Sans", sans-serif;
  --second-family: "Playfair Display", sans-serif;
  --third-family: "Roboto", sans-serif;

  // font-sizes
  --text-xxl: 72px;
  --text-xl: 64px;
  --text-lg: 48px;
  --text-l: 36px;
  --text-ml: 36px;
  --text-xm: 28px;
  --text-m: 24px;
  --text-sm: 22px;
  --text-s: 20px;
  --text-xs: 18px;
  --text-xxs: 14px;

  // breakpoints
  --desktop: 1440px;
  --laptop: 1024px;
  --tablet: 768px;
  --mobile: 576px;

  --animate-transition: 0.3s ease;

  --testimonials-slider-shift: calc(var(--container-offset) * 2);
}

@media (max-width: (768px)) {
  :root {
    --container-offset: 20px;
  }
}

@media (max-width: (576px)) {
  :root {
    --container-offset: 16px;
  }
}
