.footer {
  padding: 100px 0 32px;
  font-size: var(--text-xs);

  @include tablet {
    padding-top: 80px;
  }

  &__top {
    margin-bottom: 70px;
    display: flex;
    align-items: flex-start;
    justify-content: space-between;
    gap: 10px;

    @include tablet {
      flex-wrap: wrap;
      row-gap: 100px;
    }
  }

  &__info {
    @include tablet {
      width: 100%;
    }
  }

  &__logo {
    display: inline-block;
    width: 138px;
    height: auto;
    transition: opacity var(--animate-transition);

    &:hover {
      opacity: 0.7;
    }

    img {
      object-fit: contain;
    }
  }

  &__socials {
    margin: 22px 0;
  }

  &__social {
    &-link {
      display: inline-block;
      margin-right: 36px;
      width: 30px;
      height: 30px;
      transition: opacity var(--animate-transition);

      @include mobile {
        width: 24px;
        height: 24px;
      }

      &:hover {
        opacity: 0.7;
      }

      &:last-child {
        margin-right: 0;
      }

      img {
        object-fit: contain;
      }
    }
  }

  &__contacts {
    p {
      margin: 0 0 10px;
    }
  }

  &__subtitle {
    font-weight: 700;
    margin: 0 0 10px;
  }

  &__phone {
    display: inline-block;
    margin: 0 0 10px;
    color: var(--primary-20);
    transition: opacity var(--animate-transition);

    &:hover {
      opacity: 0.7;
    }
  }

  &__menu {
    @include tablet {
      width: calc(100% / 2 - var(--container-offset));
    }

    p {
      margin: 0 0 30px 0;
      font-weight: 700;
    }

    ul {
      margin: 0;
      padding: 0;
      list-style: none;

      li {
        margin-bottom: 10px;

        a {
          color: var(--primary-20);
          transition: opacity var(--animate-transition);

          &:hover {
            opacity: 0.7;
          }

          @include mobile {
            font-size: var(--text-xxs);
          }
        }
      }
    }
  }

  &__copyright {
    @include mobile {
      text-align: center;
      font-size: var(--text-xxs);
    }
  }
}
