.btn {
  display: inline-block;
  border-radius: 10px;
  padding: 24px 50px;
  font-weight: 400;
  font-size: var(--text-s);
  line-height: 100%;
  text-align: center;
  color: var(--color-white);
  background-color: var(--primary-10);
  border: none;
  cursor: pointer;
  transition: background-color var(--animate-transition);

  &[disabled] {
    opacity: 0.6;
    pointer-events: none;
  }

  &:hover {
    background-color: var(--primary-10-light);
  }

  &:active {
    background-color: var(--primary-10-dark);
  }

  @include tablet {
     &--mob-fw {
      width: 100%;
     }
  }

  &--sm {
    padding: 24px;
    font-size: var(--text-xs);

    @include tablet {
      padding: 16px;
    }
  }

  &--xs {
    padding: 14px 40px;
  }

  img {
    margin-left: 18px;
  }

  &--secondary {
    background-color: var(--secondary-20);
    font-weight: 400;
    color: var(--primary-20);

    &:hover {
      background-color: var(--secondary-20-light);
    }

    &:active {
      background-color: var(--secondary-20-dark);
    }
  }
}
