.btn {
  display: inline-block;
  border-radius: 10px;
  padding: 24px 54px;
  font-weight: 600;
  font-size: var(--text-s);
  line-height: 100%;
  text-align: center;
  color: var(--color-white);
  background-color: var(--btn-primary);
  transition: background-color var(--animate-transition);

  &:hover {
    background-color: darken(#70908B, 20%);
  }

  &--secondary {
    background-color: var(--btn-secondary);

    &:hover {
      background-color: darken(#70908B, 20%);
    }
  }

  &--sm {
    @include tablet {
      padding: 16px 40px;
      font-size: var(--text-xs);
    }
  }
}
