.btn {
  display: inline-block;
  border-radius: 10px;
  padding: 24px 54px;
  font-weight: 600;
  font-size: var(--text-s);
  line-height: 100%;
  text-align: center;
  color: var(--color-white);
  background-color: var(--primary-10);
  border: none;
  cursor: pointer;
  transition: background-color var(--animate-transition);

  &[disabled] {
    opacity: 0.6;
    pointer-events: none;
  }

  &:hover {
    background-color: var(--primary-10-light);
  }

  &:active {
    background-color: var(--primary-10-dark);
  }

  @include tablet {
    &--sm {
      @include tablet {
        padding: 16px 40px;
        font-size: var(--text-xs);
      }
    }

    &--mob-fw {
      width: 100%;
    }
  }

  img {
    margin-left: 18px;
  }
}
